
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

<header class ="bg-gradient-to-r from-blue-500 to-indigo-700">
	<nav class="px-8 py-6 flex items-center">
		
		<div class="text-4xl pr-12 font-serif text-white">
			LensEye
		</div>
		<div class="flex-grow">

		<a class= "text-lg font-semibold hover:text-blue-100 pr-8" href="/">
			Home
		</a>

		<a  class= "text-lg font-semibold hover:text-blue-100 pr-8" href="/new-page">
			New-Page
		</a>

		<a  class= "text-lg font-semibold hover:text-blue-100 pr-8" href="#">
			User-Page
		</a>
		</div>

		<div>
			<a href="#" class="pr-4 hover:text-blue-100 "> Sign In</a>
			<a href="#" class="py-2 px-4 bg-blue-500 hover:bg-blue-200 rounded"> Sign Up</a>
		</div>
	</nav>
</header>

{{template "page" .}}


<footer class=" bg-gradient-to-r from-blue-500 to-indigo-700 items-center">
	<nav class="px-8 py-6 flex items-center justify-center">

	<div class=" text-lg font-semibold hover:text-blue-100 pr-20">
		About	
	</div>
	<div class=" text-lg font-semibold hover:text-blue-100  pr-20">
		Twitter
	</div>
	<div class=" text-lg font-semibold hover:text-blue-100 pr-20">
		Facebook
	</div>
	<div class=" text-lg font-semibold hover:text-blue-100 pr-20">
		Github	
	</div>

<nav>
</footer>

<body>

</html>
